* {
  margin: 0;
}

html {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}

.App-logo{
  height: 5vh;
}

.App {
  background-image: url("../images/backg.jpg");
  background-repeat: repeat;
  background-size: 100vw auto;
  color: white;
  height: auto;
  min-height: 100vh;
}


.navwrap {
  padding: 3vh;
}

.budfakinwhite {
  color: white !important;
}

.mainRow {
  height: 90vh;

}

.mainRow h1 {
  font-weight: bold;
  font-size: 6.4vw;
}

.mainRow h2  {
  font-size: 2.6vw;
}

@media (max-width : 768px) {

  .mainRow h1 {
    font-size: 3rem;
  }

  .mainRow h2  {
    font-size: 1.5rem;
  }
}

@media (max-width : 420px) {

  .mainRow h1 {
    font-size: 2.16rem;
  }

  .mainRow h2  {
    font-size: 1.08rem;
  }
}

@media (max-width : 360px) {

  .mainRow h1 {
    font-size: 1.8rem;
  }

  .mainRow h2  {
    font-size: 0.9rem;
  }
}

.nospacing {
  line-height: 90%;
}

.partHeader {
  padding: 5vh 0;
  text-decoration: underline;
}

#portfolio {
  height: 100vh;
}

.nvmuz {
  margin: auto;
}

