.kostickaImg{
  width: 100%;
  opacity: 1;
}

.kostickaOverlay{
  opacity: 0;
}

.kostickaOverlay:hover{
  opacity: 1;
  background: rgb(44,14,60);
  background: linear-gradient(0deg, rgba(44,14,60,0.5) 0%, rgba(239,63,39,0.5) 100%);
  padding: 1vw;
}

.kosticka:hover .kostickaImg{
  width: 100%;
  opacity: 0.2;
}

.overlayTitle {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1vw;
}

.overlayText{
  margin: 0 !important;
}

.odkazOverlay{
  font-size: 0.5rem !important;
  margin-bottom: 0.5rem;
  width: auto;
  text-align: center;
  color: white;
  text-decoration: underline;
}

.buttonSpan{
  opacity: 0.5;
}

.coolButton{
  color: white;
  text-decoration: none !important;
}

.vice {
  font-size: medium;
  color: white !important;
  border: 2px solid white;
  border-radius: 5%;
  width: 20%;
  margin-top: auto;
  margin-bottom: 5%;
}

.vice:hover{
  color: black !important;
  text-decoration: none !important;
  background-color: white;
}

//buttoon

@media (max-width: 480px) {

  .vice {
    width: 25%;
  }
}
