.onaspage {
  margin: 0 5vw;
  padding-bottom: 5vh;
}

.person1{
  margin-top: 5vh;
  background: rgb(44,14,60);
  background: linear-gradient(238deg, rgba(44,14,60,1) 0%, rgba(239,63,39,1) 100%);
  border-radius: 20px;
  padding: 2% 1%;
}

.onasPageRow {
  margin: 0 0;
}

.onasContent {
  height: auto;
}

.onasText {
  padding: 0 0;
  text-align: center;
}

.onasText a {
  color: rgba(255, 255, 255, 0.8) !important;
  text-decoration: underline rgba(255, 255, 255, 0.8);
  padding: 0.5rem;
}

.onasText a:hover {
  color: white !important;
}

.onasImg {
  width: 50%;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}




.gradientOnas{
  background: rgb(44,14,60);
  background: linear-gradient(45deg, rgba(44,14,60,1) 0%, rgba(239,63,39,1) 100%);
}

.kartickyOnas {
  margin: auto;
}

.card-title {
  text-align: center;
  font-weight: bold;
}

.card-text {
  text-align: center;
  font-size: small;
}

.card-text h6{
  text-align: center;
}

.card-img {
  background: #F0F0F2;
}