.onaspage {
  margin: 0 25vw;
  padding-bottom: 5vh;
}

.person1{
  margin-top: 5vh;
  border-radius: 20px;
  padding: 1% 0.5%;
}

.onasPageRow {
  margin: 0 0;
}

.onasContent {
  height: auto;
}

.onasText {
  padding: 0 0;
  text-align: center;
}

.onasText a {
  color: rgba(255, 255, 255, 0.8) !important;
  text-decoration: underline rgba(255, 255, 255, 0.8);
  padding: 0.5rem;
}

.onasText a:hover {
  color: white !important;
}

.onasImg {
  width: 30%;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
}

.br {
  display: none;
}

.gradientOnas{
  background: rgb(44,14,60);
  background: linear-gradient(45deg, rgba(44,14,60,1) 0%, rgba(239,63,39,1) 100%);
}

@media (max-width: 480px) {

  .onaspage {
    margin: 0 5vw;
  }

  .onasContent h4 {
    font-size: x-large;
  }

  .onasText {
    font-size: medium;
  }

  .br {
    display: block;
  }

  .webLink {
    padding: 0 !important;
  }

  .mobileNo {
    display: none;
  }
}