h3 {
  text-align: center;
}

.portfolioDetail {
  background-color: #12161A;
  border-radius: 10px;
  margin-top: 5vh;
  padding-top: 5vh;
  padding-bottom: 10vh;
}



.detailImg {
  width: 40vw;
  float: right;
}

.detailRow {
  padding-top: 5vh;
}

@media (max-width: 480px) {

  .detailImg {
    display: block;
    width: 80vw;
    margin: 0 auto;
    padding: 0;
  }
}