.App {
  font-family: 'Montserrat', sans-serif;
}

.App-logo{
  height: 5vh;
}

.App-header {
  background-image: url("images/backg.jpg");
  background-repeat: no-repeat;
  background-size: 100vw auto;
  color: white;
  height: 500vh;
}

.navwrap {
  padding: 3vh;
}

.budfakinwhite {
  color: white !important;
}

.mainRow {
  height: 90vh;
}

.mainRowTop {
  font-weight: bold;
  font-size: 72px;
}

.mainRowBot  {
  font-size: 36px;
}

.nospacing {
  line-height: 90%;
}

.partHeader {
  padding: 5vh 0;
  text-decoration: underline;
}

#portfolio {
  height: 100vh;
}

.nvmuz {
  margin: auto;
}

