.nav-link {
  color: white;
}

.App-logo{
  height: 5vh;
}

.App-header {
  background-image: url("./backg.jpg");
  background-repeat: no-repeat;
  background-size: 100vw auto;
  color: white;
  height: 300vh;
}

.App-link {
  color: #09d3ac;
}

.navwrap {
  padding: 3vh;
}
